[Desktop Entry]
Icon=text-html
Name=Plan
Type=Link
URL[$e]=https://docs.google.com/document/d/14sfyjj3neBi0PFAwp6aWR-HWjQzeXNYDqn4hBEw1xO4/edit?usp=sharing
